@import "/node_modules/bootstrap/dist/css/bootstrap.css";

* {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: fit-content;
  background-color: #fff;
  margin-top: 5rem;
  padding-left: 0;
  box-shadow: 2px 2px 2px 2px #dcdada;
}

ul li {
  padding: 1rem;
  border-bottom: 2px solid #f1f1f1;
  display: flex;
  justify-content: space-between;
}

last-item {
  padding: 0;
  border-bottom: #f1f1f1;
}

.list-items input {
  margin-right: 0.5rem;
}

i {
  color: #c3c3c3;
}

.btn-clear {
  width: 50vw;
  background-color: white;
  margin-top: 0;
  border-color: white;
  margin-bottom: 0;
  padding: 1rem;
}

i[data-visible="false"] {
  display: none;
}

button {
  margin: 0;
}

.list-btn {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}

.info {
  font-style: italic;
  border: 0;
}

.info:focus {
  outline: none;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

.todo-list div {
  display: flex;
  width: fit-content;
}

.list-title {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.form-field {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem 0 0.5rem;
}
